// VARIABLES
$primary-dark: #323232;
$primary-inactive: #AFAFAF;
$primary-light: #FFFFFF;

$secondary-dark: #000000;
$secondary-inactive: #E1E1E1;
$secondary-light: #FAFAFA;

$tablet-width: 768px;
$desktop-width: 1280px;

