@use './variables' as *;

.main-header {
    display: flex;
    flex-direction: column;
    background-color: $primary-dark;


    &__title {
        display:flex;
        flex-direction: column;
        align-items: center;
        margin: 16px 0 0 0;
        color: white;
    }

    &__links{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    &--text {
        color: white;
        margin: 8px 0 16px 0;
        
    }

}