@use './partials' as *;

.hero {
    background-size: cover;
    background-repeat: no-repeat;
    height:20rem;
    background-image: url("../assets/images/hero-bio.jpg");
    display:flex;
    flex-direction: row;
    align-items: center;

    &__title {
        margin:16px;
        color: white;
    }
}

.bio{
    margin:  0 16px;

    &__title{
        margin-left:0;
    }
    &__img{
        display:flex;
    flex-direction: row;
    align-items: center;
    object-fit: contain;


        &--style{
            object-fit: contain;
            width: 100%;
        }
        
    }
}


.gallery {
    display: flex;
    flex-direction: column;
    background-color: $secondary-light;
    object-fit: contain;
    width: 100%;

    &__img {
        margin: 0 16px 16px 16px;
        object-fit: contain;
        filter: grayscale(1);
    }

}
.gallery__img:hover{
    filter: grayscale(0);
    transition: 1s;
  }