@use './partials' as *;

.hero {

    position: relative;
    width: 100%;
    margin: 0;

    &__wrapper {
        position: relative;
        z-index: 1;
        height: 70%;
        width: 100%;
        object-fit: cover;
        display: flex;
    }

    &__title {
        margin: 16px;
        color: white;
        position: absolute;
        z-index: 3;
        top: 50%;
        transform: translate(0%, -50%);
        @include tablet {
            margin: 36px;
        }
    }
}

.bio {
    margin: 0 16px;

    &__title {
        margin-left: 0;
    }

    &__img {
        display: flex;
        flex-direction: row;
        align-items: center;
        object-fit: contain;

        &--style {
            object-fit: contain;
            width: 100%;
        }
    }

    &__article {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
        }

    }

    @include tablet {
        margin: 0 36px;
    }
}


.gallery {

    display: flex;
    flex-direction: column;
    background-color: $secondary-light;
    object-fit: contain;
    width: 100%;

    
    @include tablet {
        padding: 0px;

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            object-fit: contain;
            width:100%;

            &__item {
                list-style: none;
                flex: 1 1 30%;
                margin:12px;
                padding: 0;
                object-fit: contain;
                width:100%;
                
            }
        }
    }

    &__img {
        margin: 0 16px 16px 16px;
        object-fit: contain;
        filter: grayscale(1);
        width: 95%;

        @include tablet {
            
        }
    }

}

.gallery__img:hover {
    filter: grayscale(0);
    transition: 1s;
}