@use './partials' as *;

.hero {
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem;
    background-image: url("../assets/images/hero-bio.jpg");
    display:flex;
    flex-direction: row;
    align-items: center;

    &__title {
        margin:16px;
        color: white;
    }
}

.bio{
    margin:  0 16px;

    &__title{
        margin-left:0;
    }
}


.gallery {
    display: flex;
    flex-direction: column;
    background-color: $secondary-light;
    object-fit: contain;
    width: 100%;

    &__img {
        margin: 0 16px 16px 16px;
        object-fit: contain;
    }

}