@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hero {
  position: relative;
  width: 100%;
  margin: 0;
  filter: grayscale(0.5);
}
.hero__wrapper {
  position: relative;
  z-index: 1;
  height: 70%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
}
.hero__title {
  margin: 16px;
  color: white;
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: translate(0%, -50%);
}
@media (min-width: 768px) {
  .hero__title {
    margin: 0 36px;
  }
}
@media (min-width: 1200px) {
  .hero__title {
    margin: 0 124px;
  }
}

.bio {
  padding: 0 16px;
}
.bio__title {
  margin-left: 0;
}
@media (min-width: 768px) {
  .bio__margin {
    margin: 0 36px;
  }
}
@media (min-width: 1200px) {
  .bio__margin {
    margin: 0 124px;
  }
}
.bio__img {
  display: flex;
  flex-direction: row;
  align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
}
.bio__img--style {
  -o-object-fit: contain;
     object-fit: contain;
  width: calc(100% - 32px);
}
@media (min-width: 768px) {
  .bio__img--style {
    width: calc(100% - 72px);
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .bio__img--style {
    width: calc(100% - 124px);
    margin: 0 auto;
  }
}
.bio__article {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .bio__article {
    flex-direction: row;
    margin: 24px;
  }
  .bio__article--text {
    margin: 0 12px;
  }
}
@media (min-width: 1200px) {
  .bio__article {
    flex-direction: row;
    margin: 24px 48px;
  }
  .bio__article--text {
    margin: 0 12px;
  }
}
@media (min-width: 768px) {
  .bio {
    padding: 0 36px;
  }
}
@media (min-width: 1200px) {
  .bio {
    padding: 0 124px;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.gallery__title {
  margin-left: 16px;
}
@media (min-width: 768px) {
  .gallery__title {
    margin-left: 36px;
  }
}
@media (min-width: 1200px) {
  .gallery__title {
    margin-left: 124px;
  }
}
@media (min-width: 768px) {
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: calc(100% - 72px);
    margin: 0 36px;
  }
  .gallery__list__item {
    list-style: none;
    flex: 1 1 30%;
  }
}
.gallery__img {
  margin: 16px;
  margin: 0 0 16px 16px;
  -o-object-fit: contain;
     object-fit: contain;
  filter: grayscale(1);
  width: 95%;
}
@media (min-width: 768px) {
  .gallery__img {
    margin: 0 0 16px 0;
  }
}

.gallery__img:hover {
  filter: grayscale(0);
  transition: 1s;
}

@media (min-width: 768px) {
  .conversation {
    margin: 36px;
  }
}

.comments-title {
  margin-left: 16px;
}

.comment-section {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}
.comment-section--left {
  width: 100%;
}
@media (min-width: 768px) {
  .comment-section {
    align-items: flex-end;
  }
}

.comments--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .comments--wrapper {
    margin: 0 36px;
  }
}
@media (min-width: 1200px) {
  .comments--wrapper {
    margin: 0 248px;
  }
}

.comments {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 98%;
  box-sizing: border-box;
}
.comments__input {
  height: 36px;
  width: 96%;
}
.comments__text-area {
  resize: none;
  height: 100px;
  width: 96%;
}

.avatar, .avatar__posted {
  background-color: #E1E1E1;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  margin: 36px 0 16px 16px;
  -o-object-fit: cover;
     object-fit: cover;
}
.avatar__posted {
  margin: 16px;
  margin-left: 0px;
}

.comment-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 88%;
  margin-right: 16px;
}
.comment-card__top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0;
  justify-content: space-between;
}
.comment-card--posted {
  margin-top: 8px;
}
.comment-card__bottom {
  display: flex;
}
.comment-card__likes {
  width: 16px;
  margin: 4px 0 0 0;
}
@media (min-width: 768px) {
  .comment-card__likes {
    margin: 2px 0 0 0;
  }
}
.comment-card__likes-button {
  margin: 0 0 8px 8px;
  cursor: pointer;
}
.comment-card__delete-button {
  margin-left: 36px;
  margin: 0 0 8px 36px;
  cursor: pointer;
}

.button {
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #323232;
  color: #FFFFFF;
  border-radius: 4px;
  font-size: 1.5rem;
  align-items: center;
  margin: 16px auto;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .button {
    width: 30%;
    margin: 36px 0;
  }
}

.button:hover {
  background-color: #000000;
}

.comment-card__likes-button:hover, .comment-card__delete-button:hover {
  animation-duration: 1s;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

input,
textarea {
  font-family: "AvenirNext";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #AFAFAF;
  display: block;
  margin: 0.5rem 0;
  padding: 5px 10px;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  font-family: "AvenirNext";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: #000000;
}

input::placeholder,
textarea::placeholder {
  font-family: "AvenirNext";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: #000000;
}

label {
  color: #AFAFAF;
  font-family: "AvenirNext";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}

.inline {
  display: inline;
}

.comment-error {
  border-color: #D22D2D;
}/*# sourceMappingURL=bio.css.map */