@font-face {
  font-family: "AvenirNext";
  src: url("../assets/font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../assets/font/Alternative_files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext-bold";
  src: url("../assets/font/AvenirNextLTPro-Bold.otf") format("opentype"), url("../assets/font/Alternative_files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext-demi";
  src: url("../assets/font/AvenirNextLTPro-Demi.otf") format("opentype"), url("../assets/font/Alternative_files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "AvenirNext";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin: 24px 16px 16px 16px;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  font-family: "AvenirNext";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-family: "AvenirNext";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

p {
  font-family: "AvenirNext";
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h4 {
  font-family: "AvenirNext";
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  h4 {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

h5 {
  font-family: "AvenirNext";
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  h5 {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

.main-header {
  display: flex;
  flex-direction: column;
  background-color: #323232;
}
.main-header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 0 0 0;
  color: white;
}
.main-header__links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.main-header--text {
  color: white;
  margin: 8px 0 16px 0;
}

.foot {
  background-color: #323232;
  color: #FFFFFF;
}
.foot--title {
  padding: 24px 16px 0px 16px;
  margin: 0;
}
.foot__icon {
  display: flex;
  flex-direction: row;
}
.foot__icon__img {
  height: 1.4rem;
  margin: 16px;
}
.foot__text {
  margin: 0 16px;
}
.foot__text--bot-title {
  margin: 48px 0 8px 0;
}
.foot__text--bot-margin {
  margin: 0;
  padding: 0 0 16px 0;
}

.hero {
  background-size: cover;
  background-repeat: no-repeat;
  height: 20rem;
  background-image: url("../assets/images/hero-bio.jpg");
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hero__title {
  margin: 16px;
  color: white;
}

.bio {
  margin: 0 16px;
}
.bio__title {
  margin-left: 0;
}

.gallery {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.gallery__img {
  margin: 0 16px 16px 16px;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=main.css.map */