@use './partials/variables' as *;
@use './partials/mixins' as *;


.hero-show {

    position: relative;
    width: 100%;
    margin: 0;
    filter: grayscale(0.5);

    &__wrapper {
        position: relative;
        z-index: 1;
        height: 500px;
        width: 100%;
        object-fit: cover;
        display: flex;

        @include tablet{
            height: 600px;
        }
    }

    &__album {
        margin: $mobile-margin;
        color: white;

        position: absolute;
        z-index: 3;
        top: 10%;

        @include tablet {
            margin: 0 $tablet-margin;
        }

        @include desktop {
            margin: 0 $desktop-margin;
            top: 30%;
        }
    }

    &__title {
        margin: $mobile-margin;
        color: white;

        position: absolute;
        z-index: 3;
        top: 30%;
        transform: translate(0%, -50%);
        width: 50%;

        @include tablet {
            margin: 0 $tablet-margin;
            width: 60%;
        }

        @include desktop {
            margin: 0 $desktop-margin;
            top: 52%;
            width: 45%;
        }
    }

    &__song {
        margin: $mobile-margin;
        position: absolute;
        z-index: 3;
        top: 45%;

        @include tablet {
            width: 50%;
            top: 50%;
        }

        @include desktop {
            width: 30%;
            top: 37%;
            left: 60%;
            height: 140px;
        }
    }


}

.shows {

    @include desktop {
        position: relative;
        height: calc($desktop-column*10);
    }

    &__title {
        @include desktop {
            position: absolute;
            top: 5%;
            left: 10%;
        }
    }

    &__wrapper {
        @include desktop {
            width: 60%;
            position: absolute;
            top: 9%;
            left: 30%;
        }
    }


    &--heading {
        font-family: 'AvenirNext';
        color: $primary-inactive;
        margin: 0 $mobile-margin 8px $mobile-margin;
        padding-top: $mobile-margin;

        @include tablet {
            // padding-bottom: $tablet-margin;
        }
    }

    &__item {
        margin: 0 $mobile-margin $mobile-margin $mobile-margin;

        @include tablet {
            flex-direction: row;
            margin: 8px $mobile-margin 0 $mobile-margin;
        }
    }
}


.show {
    background-color: $primary-light;
    display: flex;
    flex-direction: column;
    position: relative;


    @include tablet {
        flex-direction: row;
        justify-content: space-around;
    }



    &__groups {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: column;
            align-items: left;
            justify-content: center;
        }
    }
}

.show:after {
    content: "";
    background: $secondary-inactive;
    position: absolute;
    bottom: 0;
    left: 1%;
    height: 1px;
    width: 98%;
}

.show:hover {
    background-color: $secondary-light;
}

.showDarker {
    // background-color: $secondary-inactive;
    background-color: green;
}

.button--shows {
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    background-color: $primary-dark;
    color: $primary-light;
    border-radius: 4px;
    font-size: 1.5rem;
    align-items: center;
    margin: $mobile-margin auto;
    height: 40px;
    display: flex;
    justify-content: center;
    width: calc(100% - 32px);
    margin-bottom: $mobile-margin;

    @include tablet {
        width: 12rem;
        margin: $tablet-gutter 0;
    }
}